.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"]{
    background-color: #b61414;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

h1{
    color: #b61414;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #b61414;
}

.img-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

a{
    color: #b61414;
    text-decoration: none;
    margin-top: 10px;
}

a:hover{
    text-decoration: underline;
}