body{
    margin: none;
}

.menu{
    display: flex;
    gap: 60px;
    justify-content: flex-start;
    align-content: space-between;
    font-size: 20px;
    color: gray;
    padding-top: 10px;
    padding-left: 50px;
}

.botao-principal{
    background-color:crimson;
    color: white;
    padding: 10px;
}

.up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
}

.first{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

hr{
    background-color: gray;
    height: 1px;
    width: 480px;
}

.redes-sociais{
    display: flex;
    max-width: 480px;
    width: 100%;
    justify-content: space-between;
}

.titulo-principal{
    color: crimson;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.container-info{
    display: flex;
    justify-content: space-between; 
    padding: 40px;
    gap: 10px;
}

.texto-noticia{
    display: flex;
    background-color: crimson;
    width: 670px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 20px;
    color: aliceblue;
}

.container-noticias{
    display: flex;
}

.noticia-maior{
    margin-right: 30px;
    margin-left: 50px;
}

.hr-noticias{
    height: 0.1px;
    width: 300px;
    margin-top: 40px;
    background-color: rgb(229, 229, 229);
}

.dividido-quatro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.texto-noticia-nao-principal{
    color: crimson;
    max-width: 280px;
    width: 100%;
    flex-wrap: wrap;
    font-weight: bold;
}

.texto-normal{
    color: gray;
}

.card4{
    margin-left: 20px;
}

.correio-play{
    display: flex;
    background-color: rgb(70, 70, 70);
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.titulo-play{
    color: aliceblue;
    font-size: 20px;
}

.parte-iframe{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}

.container-footer{
    display: flex;
    margin-top: 50px;
    background-color: rgb(226, 227, 228);
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 50px;
    gap: 40px;
    color: gray;

    hr{
        width: 300px;
        background-color: gray;
        height: 0.3px;
    }
}

.divisao1{
    max-width: 275px;
    margin-right: 40px;
}

.divisao4{
    display: flex;
    flex-direction: column;
    gap: 40px;
}