body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#canvas1{
    border: 1px solid black;
    margin-bottom: 10px;
}

#canvas2{
    background-color: aqua;
}